pipeline/masterpipeline.json
{
	"name": "masterpipeline",
	"properties": {
		"activities": [
			{
				"name": "Execute powerbi",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "powerbi",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"groupid": "8b0fb1c2-33b1-40a1-bf23-337e0d632224",
						"datasetid": "634f5654-e781-4638-8299-499f63ed9f5f"
					}
				}
			},
			{
				"name": "Execute opendataset",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute powerbi",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Execute demo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "copyOpenDataset",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute demo",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "demo_pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute error",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute powerbi",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Execute demo",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Execute opendataset",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "error email",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"errordetails": {
							"value": "@activity('Execute demo').output",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	}
}