pipeline/masterpipeline.json
{
	"name": "masterpipeline",
	"properties": {
		"activities": [
			{
				"name": "Execute powerbi",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "powerbi",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute powerbi",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Execute demo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute demo",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "demo_pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Pipeline2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute powerbi",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Execute demo",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "error email",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"errordetails": {
							"value": "@activity('Execute Pipeline1').output",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	}
}