magdatafactoryadfutils/PartialArmTemplates/ArmTemplate_5_24_2021_13_33_51.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "magdatafactoryadfutils"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "filepath",
										"value": "$$FILEPATH"
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "csv_dataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "csv_dataset_copy1",
								"type": "DatasetReference",
								"parameters": {
									"filename": {
										"value": "@concat(pipeline().parameters.nameprefix,'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"nameprefix": {
						"type": "string",
						"defaultValue": "test_pipeline"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/csv_dataset')]",
				"[concat(variables('factoryId'), '/datasets/csv_dataset_copy1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/storagegen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://storagedatafactorydev01.dfs.core.windows.net"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storagegen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "ds1",
						"fileSystem": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Id",
						"type": "String"
					},
					{
						"name": "SinkCreatedOn",
						"type": "String"
					},
					{
						"name": "SinkModifiedOn",
						"type": "String"
					},
					{
						"name": "statecode",
						"type": "String"
					},
					{
						"name": "statuscode",
						"type": "String"
					},
					{
						"name": "ms_preexistingconditions",
						"type": "String"
					},
					{
						"name": "address3_freighttermscode",
						"type": "String"
					},
					{
						"name": "hmn_source",
						"type": "String"
					},
					{
						"name": "ms_indigenousstatus",
						"type": "String"
					},
					{
						"name": "ms_lastassessmentstatus",
						"type": "String"
					},
					{
						"name": "address1_freighttermscode",
						"type": "String"
					},
					{
						"name": "ms_medicarenumberstatus",
						"type": "String"
					},
					{
						"name": "familystatuscode",
						"type": "String"
					},
					{
						"name": "preferredcontactmethodcode",
						"type": "String"
					},
					{
						"name": "haschildrencode",
						"type": "String"
					},
					{
						"name": "customertypecode",
						"type": "String"
					},
					{
						"name": "address3_addresstypecode",
						"type": "String"
					},
					{
						"name": "ms_classification",
						"type": "String"
					},
					{
						"name": "gendercode",
						"type": "String"
					},
					{
						"name": "paymenttermscode",
						"type": "String"
					},
					{
						"name": "ms_agegroup",
						"type": "String"
					},
					{
						"name": "customersizecode",
						"type": "String"
					},
					{
						"name": "address2_shippingmethodcode",
						"type": "String"
					},
					{
						"name": "ms_sessionstatus",
						"type": "String"
					},
					{
						"name": "ms_registrationtype",
						"type": "String"
					},
					{
						"name": "ms_vaccinationstatus",
						"type": "String"
					},
					{
						"name": "territorycode",
						"type": "String"
					},
					{
						"name": "address3_shippingmethodcode",
						"type": "String"
					},
					{
						"name": "shippingmethodcode",
						"type": "String"
					},
					{
						"name": "address2_freighttermscode",
						"type": "String"
					},
					{
						"name": "accountrolecode",
						"type": "String"
					},
					{
						"name": "educationcode",
						"type": "String"
					},
					{
						"name": "address1_shippingmethodcode",
						"type": "String"
					},
					{
						"name": "ms_immunisationstatus",
						"type": "String"
					},
					{
						"name": "vras_gender",
						"type": "String"
					},
					{
						"name": "vras_organizationstate",
						"type": "String"
					},
					{
						"name": "ms_gendervcms",
						"type": "String"
					},
					{
						"name": "ms_lastdose",
						"type": "String"
					},
					{
						"name": "msdyn_orgchangestatus",
						"type": "String"
					},
					{
						"name": "ms_contactmethod",
						"type": "String"
					},
					{
						"name": "address2_addresstypecode",
						"type": "String"
					},
					{
						"name": "ms_role",
						"type": "String"
					},
					{
						"name": "address1_addresstypecode",
						"type": "String"
					},
					{
						"name": "preferredappointmentdaycode",
						"type": "String"
					},
					{
						"name": "preferredappointmenttimecode",
						"type": "String"
					},
					{
						"name": "msgdpr_gdprconsent",
						"type": "String"
					},
					{
						"name": "leadsourcecode",
						"type": "String"
					},
					{
						"name": "ms_translatorservice",
						"type": "String"
					},
					{
						"name": "adx_identity_emailaddress1confirmed",
						"type": "String"
					},
					{
						"name": "donotphone",
						"type": "String"
					},
					{
						"name": "vras_surveyoptin",
						"type": "String"
					},
					{
						"name": "ms_serologyreportattached",
						"type": "String"
					},
					{
						"name": "donotpostalmail",
						"type": "String"
					},
					{
						"name": "creditonhold",
						"type": "String"
					},
					{
						"name": "adx_confirmremovepassword",
						"type": "String"
					},
					{
						"name": "adx_identity_twofactorenabled",
						"type": "String"
					},
					{
						"name": "adx_profilealert",
						"type": "String"
					},
					{
						"name": "isbackofficecustomer",
						"type": "String"
					},
					{
						"name": "ms_covidimmunitystatus",
						"type": "String"
					},
					{
						"name": "ms_interpratorrequired",
						"type": "String"
					},
					{
						"name": "isprivate",
						"type": "String"
					},
					{
						"name": "donotbulkemail",
						"type": "String"
					},
					{
						"name": "adx_identity_locallogindisabled",
						"type": "String"
					},
					{
						"name": "vras_isportalcontact",
						"type": "String"
					},
					{
						"name": "participatesinworkflow",
						"type": "String"
					},
					{
						"name": "msdyn_isminorwithparentalconsent",
						"type": "String"
					},
					{
						"name": "marketingonly",
						"type": "String"
					},
					{
						"name": "merged",
						"type": "String"
					},
					{
						"name": "ms_donotsendfollowupsurveys",
						"type": "String"
					},
					{
						"name": "msgdpr_gdprischild",
						"type": "String"
					},
					{
						"name": "donotemail",
						"type": "String"
					},
					{
						"name": "adx_identity_logonenabled",
						"type": "String"
					},
					{
						"name": "adx_identity_lockoutenabled",
						"type": "String"
					},
					{
						"name": "followemail",
						"type": "String"
					},
					{
						"name": "msdyn_isminor",
						"type": "String"
					},
					{
						"name": "donotfax",
						"type": "String"
					},
					{
						"name": "msdyn_gdproptout",
						"type": "String"
					},
					{
						"name": "ms_guardianrepresentingforconsent",
						"type": "String"
					},
					{
						"name": "isautocreate",
						"type": "String"
					},
					{
						"name": "ms_translatorrequired",
						"type": "String"
					},
					{
						"name": "adx_identity_mobilephoneconfirmed",
						"type": "String"
					},
					{
						"name": "donotbulkpostalmail",
						"type": "String"
					},
					{
						"name": "msdyncrm_rememberme",
						"type": "String"
					},
					{
						"name": "ms_registered",
						"type": "String"
					},
					{
						"name": "msgdpr_donottrack",
						"type": "String"
					},
					{
						"name": "msdyn_disablewebtracking",
						"type": "String"
					},
					{
						"name": "ms_consenttodatacollection",
						"type": "String"
					},
					{
						"name": "adx_profileisanonymous",
						"type": "String"
					},
					{
						"name": "donotsendmm",
						"type": "String"
					},
					{
						"name": "vras_interviewattested",
						"type": "String"
					},
					{
						"name": "parentcontactid",
						"type": "String"
					},
					{
						"name": "parentcontactid_entitytype",
						"type": "String"
					},
					{
						"name": "owninguser",
						"type": "String"
					},
					{
						"name": "owninguser_entitytype",
						"type": "String"
					},
					{
						"name": "masterid",
						"type": "String"
					},
					{
						"name": "masterid_entitytype",
						"type": "String"
					},
					{
						"name": "ms_occupationtype",
						"type": "String"
					},
					{
						"name": "ms_occupationtype_entitytype",
						"type": "String"
					},
					{
						"name": "createdbyexternalparty",
						"type": "String"
					},
					{
						"name": "createdbyexternalparty_entitytype",
						"type": "String"
					},
					{
						"name": "accountid",
						"type": "String"
					},
					{
						"name": "accountid_entitytype",
						"type": "String"
					},
					{
						"name": "ms_sessionbatch",
						"type": "String"
					},
					{
						"name": "ms_sessionbatch_entitytype",
						"type": "String"
					},
					{
						"name": "owningteam",
						"type": "String"
					},
					{
						"name": "owningteam_entitytype",
						"type": "String"
					},
					{
						"name": "owningbusinessunit",
						"type": "String"
					},
					{
						"name": "owningbusinessunit_entitytype",
						"type": "String"
					},
					{
						"name": "vras_bookableresourcecontactid",
						"type": "String"
					},
					{
						"name": "vras_bookableresourcecontactid_entitytype",
						"type": "String"
					},
					{
						"name": "modifiedonbehalfby",
						"type": "String"
					},
					{
						"name": "modifiedonbehalfby_entitytype",
						"type": "String"
					},
					{
						"name": "createdonbehalfby",
						"type": "String"
					},
					{
						"name": "createdonbehalfby_entitytype",
						"type": "String"
					},
					{
						"name": "msdyncrm_emailid",
						"type": "String"
					},
					{
						"name": "msdyncrm_emailid_entitytype",
						"type": "String"
					},
					{
						"name": "modifiedby",
						"type": "String"
					},
					{
						"name": "modifiedby_entitytype",
						"type": "String"
					},
					{
						"name": "vras_contactid",
						"type": "String"
					},
					{
						"name": "vras_contactid_entitytype",
						"type": "String"
					},
					{
						"name": "preferredequipmentid",
						"type": "String"
					},
					{
						"name": "preferredequipmentid_entitytype",
						"type": "String"
					},
					{
						"name": "msevtmgt_contactid",
						"type": "String"
					},
					{
						"name": "msevtmgt_contactid_entitytype",
						"type": "String"
					},
					{
						"name": "msdyncrm_contactid",
						"type": "String"
					},
					{
						"name": "msdyncrm_contactid_entitytype",
						"type": "String"
					},
					{
						"name": "ms_countryofbirth",
						"type": "String"
					},
					{
						"name": "ms_countryofbirth_entitytype",
						"type": "String"
					},
					{
						"name": "msdyncrm_marketingformid",
						"type": "String"
					},
					{
						"name": "msdyncrm_marketingformid_entitytype",
						"type": "String"
					},
					{
						"name": "msdyncrm_marketingpageid",
						"type": "String"
					},
					{
						"name": "msdyncrm_marketingpageid_entitytype",
						"type": "String"
					},
					{
						"name": "defaultpricelevelid",
						"type": "String"
					},
					{
						"name": "defaultpricelevelid_entitytype",
						"type": "String"
					},
					{
						"name": "ms_employerid",
						"type": "String"
					},
					{
						"name": "ms_employerid_entitytype",
						"type": "String"
					},
					{
						"name": "originatingleadid",
						"type": "String"
					},
					{
						"name": "originatingleadid_entitytype",
						"type": "String"
					},
					{
						"name": "slainvokedid",
						"type": "String"
					},
					{
						"name": "slainvokedid_entitytype",
						"type": "String"
					},
					{
						"name": "ms_ethnicity",
						"type": "String"
					},
					{
						"name": "ms_ethnicity_entitytype",
						"type": "String"
					},
					{
						"name": "parent_contactid",
						"type": "String"
					},
					{
						"name": "parent_contactid_entitytype",
						"type": "String"
					},
					{
						"name": "preferredserviceid",
						"type": "String"
					},
					{
						"name": "preferredserviceid_entitytype",
						"type": "String"
					},
					{
						"name": "slaid",
						"type": "String"
					},
					{
						"name": "slaid_entitytype",
						"type": "String"
					},
					{
						"name": "msdyncrm_segmentmemberid",
						"type": "String"
					},
					{
						"name": "msdyncrm_segmentmemberid_entitytype",
						"type": "String"
					},
					{
						"name": "ms_session",
						"type": "String"
					},
					{
						"name": "ms_session_entitytype",
						"type": "String"
					},
					{
						"name": "msevtmgt_originatingeventid",
						"type": "String"
					},
					{
						"name": "msevtmgt_originatingeventid_entitytype",
						"type": "String"
					},
					{
						"name": "adx_preferredlanguageid",
						"type": "String"
					},
					{
						"name": "adx_preferredlanguageid_entitytype",
						"type": "String"
					},
					{
						"name": "createdby",
						"type": "String"
					},
					{
						"name": "createdby_entitytype",
						"type": "String"
					},
					{
						"name": "msgdpr_consentchangesourceformid",
						"type": "String"
					},
					{
						"name": "msgdpr_consentchangesourceformid_entitytype",
						"type": "String"
					},
					{
						"name": "preferredsystemuserid",
						"type": "String"
					},
					{
						"name": "preferredsystemuserid_entitytype",
						"type": "String"
					},
					{
						"name": "modifiedbyexternalparty",
						"type": "String"
					},
					{
						"name": "modifiedbyexternalparty_entitytype",
						"type": "String"
					},
					{
						"name": "msdyncrm_customerjourneyid",
						"type": "String"
					},
					{
						"name": "msdyncrm_customerjourneyid_entitytype",
						"type": "String"
					},
					{
						"name": "ms_associatedorganisation",
						"type": "String"
					},
					{
						"name": "ms_associatedorganisation_entitytype",
						"type": "String"
					},
					{
						"name": "transactioncurrencyid",
						"type": "String"
					},
					{
						"name": "transactioncurrencyid_entitytype",
						"type": "String"
					},
					{
						"name": "msa_managingpartnerid",
						"type": "String"
					},
					{
						"name": "msa_managingpartnerid_entitytype",
						"type": "String"
					},
					{
						"name": "msgdpr_gdprparentid",
						"type": "String"
					},
					{
						"name": "msgdpr_gdprparentid_entitytype",
						"type": "String"
					},
					{
						"name": "ownerid",
						"type": "String"
					},
					{
						"name": "ownerid_entitytype",
						"type": "String"
					},
					{
						"name": "parentcustomerid",
						"type": "String"
					},
					{
						"name": "parentcustomerid_entitytype",
						"type": "String"
					},
					{
						"name": "aging30_base",
						"type": "String"
					},
					{
						"name": "aging60",
						"type": "String"
					},
					{
						"name": "aging60_base",
						"type": "String"
					},
					{
						"name": "aging90_base",
						"type": "String"
					},
					{
						"name": "annualincome",
						"type": "String"
					},
					{
						"name": "creditlimit_base",
						"type": "String"
					},
					{
						"name": "annualincome_base",
						"type": "String"
					},
					{
						"name": "aging90",
						"type": "String"
					},
					{
						"name": "aging30",
						"type": "String"
					},
					{
						"name": "creditlimit",
						"type": "String"
					},
					{
						"name": "address2_latitude",
						"type": "String"
					},
					{
						"name": "managerphone",
						"type": "String"
					},
					{
						"name": "stageid",
						"type": "String"
					},
					{
						"name": "address3_city",
						"type": "String"
					},
					{
						"name": "msa_managingpartneridyominame",
						"type": "String"
					},
					{
						"name": "parentcustomeridname",
						"type": "String"
					},
					{
						"name": "createdonbehalfbyyominame",
						"type": "String"
					},
					{
						"name": "ms_medicarenumber",
						"type": "String"
					},
					{
						"name": "address2_city",
						"type": "String"
					},
					{
						"name": "utcconversiontimezonecode",
						"type": "String"
					},
					{
						"name": "address3_name",
						"type": "String"
					},
					{
						"name": "msdyncrm_contactidname",
						"type": "String"
					},
					{
						"name": "adx_identity_lastsuccessfullogin",
						"type": "String"
					},
					{
						"name": "adx_identity_securitystamp",
						"type": "String"
					},
					{
						"name": "businesscard",
						"type": "String"
					},
					{
						"name": "spousesname",
						"type": "String"
					},
					{
						"name": "createdon",
						"type": "String"
					},
					{
						"name": "parent_contactidname",
						"type": "String"
					},
					{
						"name": "modifiedbyyominame",
						"type": "String"
					},
					{
						"name": "transactioncurrencyidname",
						"type": "String"
					},
					{
						"name": "address2_line3",
						"type": "String"
					},
					{
						"name": "mastercontactidname",
						"type": "String"
					},
					{
						"name": "address2_stateorprovince",
						"type": "String"
					},
					{
						"name": "msdyncrm_emailidname",
						"type": "String"
					},
					{
						"name": "vras_recentflushotbookingid",
						"type": "String"
					},
					{
						"name": "address1_city",
						"type": "String"
					},
					{
						"name": "firstname",
						"type": "String"
					},
					{
						"name": "business2",
						"type": "String"
					},
					{
						"name": "address1_name",
						"type": "String"
					},
					{
						"name": "telephone1",
						"type": "String"
					},
					{
						"name": "createdbyname",
						"type": "String"
					},
					{
						"name": "overriddencreatedon",
						"type": "String"
					},
					{
						"name": "managername",
						"type": "String"
					},
					{
						"name": "msdyncrm_marketingpageidname",
						"type": "String"
					},
					{
						"name": "home2",
						"type": "String"
					},
					{
						"name": "msdyn_portaltermsagreementdate",
						"type": "String"
					},
					{
						"name": "adx_organizationname",
						"type": "String"
					},
					{
						"name": "adx_identity_passwordhash",
						"type": "String"
					},
					{
						"name": "accountidyominame",
						"type": "String"
					},
					{
						"name": "hmn_bookingguid",
						"type": "String"
					},
					{
						"name": "ms_employeridname",
						"type": "String"
					},
					{
						"name": "ms_invitationsenton",
						"type": "String"
					},
					{
						"name": "adx_createdbyusername",
						"type": "String"
					},
					{
						"name": "parent_contactidyominame",
						"type": "String"
					},
					{
						"name": "address2_addressid",
						"type": "String"
					},
					{
						"name": "address2_country",
						"type": "String"
					},
					{
						"name": "adx_identity_username",
						"type": "String"
					},
					{
						"name": "ms_generatedinvitationcode",
						"type": "String"
					},
					{
						"name": "adx_modifiedbyipaddress",
						"type": "String"
					},
					{
						"name": "slaname",
						"type": "String"
					},
					{
						"name": "subscriptionid",
						"type": "String"
					},
					{
						"name": "yomimiddlename",
						"type": "String"
					},
					{
						"name": "ms_lastprescreeningresult",
						"type": "String"
					},
					{
						"name": "adx_portalinvitationurl",
						"type": "String"
					},
					{
						"name": "assistantname",
						"type": "String"
					},
					{
						"name": "onholdtime",
						"type": "String"
					},
					{
						"name": "ms_employeridyominame",
						"type": "String"
					},
					{
						"name": "address3_line2",
						"type": "String"
					},
					{
						"name": "vras_organizationaddressline1",
						"type": "String"
					},
					{
						"name": "vras_organizationaddressline2",
						"type": "String"
					},
					{
						"name": "preferredsystemuseridname",
						"type": "String"
					},
					{
						"name": "address2_postofficebox",
						"type": "String"
					},
					{
						"name": "adx_profilealertdate",
						"type": "String"
					},
					{
						"name": "ms_middleinitial",
						"type": "String"
					},
					{
						"name": "entityimageid",
						"type": "String"
					},
					{
						"name": "address3_telephone1",
						"type": "String"
					},
					{
						"name": "address3_telephone2",
						"type": "String"
					},
					{
						"name": "address3_telephone3",
						"type": "String"
					},
					{
						"name": "employeeid",
						"type": "String"
					},
					{
						"name": "address1_primarycontactname",
						"type": "String"
					},
					{
						"name": "address2_county",
						"type": "String"
					},
					{
						"name": "vras_organizationstateorprovince",
						"type": "String"
					},
					{
						"name": "vras_covidvaccinebookingid",
						"type": "String"
					},
					{
						"name": "modifiedbyexternalpartyyominame",
						"type": "String"
					},
					{
						"name": "msdyncrm_insights_placeholder",
						"type": "String"
					},
					{
						"name": "childrensnames",
						"type": "String"
					},
					{
						"name": "ms_sessionbatchname",
						"type": "String"
					},
					{
						"name": "accountidname",
						"type": "String"
					},
					{
						"name": "vras_organizationlongitude",
						"type": "String"
					},
					{
						"name": "vras_organizationcountry",
						"type": "String"
					},
					{
						"name": "nickname",
						"type": "String"
					},
					{
						"name": "salutation",
						"type": "String"
					},
					{
						"name": "address1_telephone1",
						"type": "String"
					},
					{
						"name": "yomifirstname",
						"type": "String"
					},
					{
						"name": "address2_line1",
						"type": "String"
					},
					{
						"name": "address1_stateorprovince",
						"type": "String"
					},
					{
						"name": "address3_postofficebox",
						"type": "String"
					},
					{
						"name": "processid",
						"type": "String"
					},
					{
						"name": "address1_longitude",
						"type": "String"
					},
					{
						"name": "modifiedon",
						"type": "String"
					},
					{
						"name": "ms_yearlevel",
						"type": "String"
					},
					{
						"name": "fax",
						"type": "String"
					},
					{
						"name": "birthdate",
						"type": "String"
					},
					{
						"name": "createdonbehalfbyname",
						"type": "String"
					},
					{
						"name": "ms_dobstring",
						"type": "String"
					},
					{
						"name": "address2_telephone1",
						"type": "String"
					},
					{
						"name": "address3_fax",
						"type": "String"
					},
					{
						"name": "address1_telephone2",
						"type": "String"
					},
					{
						"name": "address2_primarycontactname",
						"type": "String"
					},
					{
						"name": "emailaddress3",
						"type": "String"
					},
					{
						"name": "emailaddress2",
						"type": "String"
					},
					{
						"name": "emailaddress1",
						"type": "String"
					},
					{
						"name": "address1_line1",
						"type": "String"
					},
					{
						"name": "address1_utcoffset",
						"type": "String"
					},
					{
						"name": "mastercontactidyominame",
						"type": "String"
					},
					{
						"name": "originatingleadidyominame",
						"type": "String"
					},
					{
						"name": "telephone3",
						"type": "String"
					},
					{
						"name": "entityimage_url",
						"type": "String"
					},
					{
						"name": "ms_dateofbirth",
						"type": "String"
					},
					{
						"name": "msevtmgt_originatingeventidname",
						"type": "String"
					},
					{
						"name": "ms_nextofkin",
						"type": "String"
					},
					{
						"name": "vras_nameofinsurance",
						"type": "String"
					},
					{
						"name": "adx_timezone",
						"type": "String"
					},
					{
						"name": "address1_fax",
						"type": "String"
					},
					{
						"name": "contactid",
						"type": "String"
					},
					{
						"name": "vras_bookableresourcecontactidname",
						"type": "String"
					},
					{
						"name": "modifiedonbehalfbyyominame",
						"type": "String"
					},
					{
						"name": "mobilephone",
						"type": "String"
					},
					{
						"name": "address1_county",
						"type": "String"
					},
					{
						"name": "msdyncrm_customerjourneyidname",
						"type": "String"
					},
					{
						"name": "pager",
						"type": "String"
					},
					{
						"name": "ms_nextofkinrelationship",
						"type": "String"
					},
					{
						"name": "lastonholdtime",
						"type": "String"
					},
					{
						"name": "adx_profilelastactivity",
						"type": "String"
					},
					{
						"name": "versionnumber",
						"type": "String"
					},
					{
						"name": "adx_publicprofilecopy",
						"type": "String"
					},
					{
						"name": "address3_line1",
						"type": "String"
					},
					{
						"name": "ms_nextofkincontactnumber",
						"type": "String"
					},
					{
						"name": "address3_utcoffset",
						"type": "String"
					},
					{
						"name": "address3_addressid",
						"type": "String"
					},
					{
						"name": "ms_registrationdate",
						"type": "String"
					},
					{
						"name": "ms_associatedorganisationname",
						"type": "String"
					},
					{
						"name": "owneridyominame",
						"type": "String"
					},
					{
						"name": "vras_organizationcounty",
						"type": "String"
					},
					{
						"name": "address1_telephone3",
						"type": "String"
					},
					{
						"name": "msdyncrm_marketingformsubmissiondateprecise",
						"type": "String"
					},
					{
						"name": "defaultpricelevelidname",
						"type": "String"
					},
					{
						"name": "telephone2",
						"type": "String"
					},
					{
						"name": "adx_modifiedbyusername",
						"type": "String"
					},
					{
						"name": "lastusedincampaign",
						"type": "String"
					},
					{
						"name": "hmn_confirmdob",
						"type": "String"
					},
					{
						"name": "yomilastname",
						"type": "String"
					},
					{
						"name": "vras_organizationlatitude",
						"type": "String"
					},
					{
						"name": "originatingleadidname",
						"type": "String"
					},
					{
						"name": "exchangerate",
						"type": "String"
					},
					{
						"name": "numberofchildren",
						"type": "String"
					},
					{
						"name": "address3_upszone",
						"type": "String"
					},
					{
						"name": "address2_telephone2",
						"type": "String"
					},
					{
						"name": "jobtitle",
						"type": "String"
					},
					{
						"name": "ms_ethnicityname",
						"type": "String"
					},
					{
						"name": "msgdpr_gdprparentidyominame",
						"type": "String"
					},
					{
						"name": "vras_organizationcity",
						"type": "String"
					},
					{
						"name": "vras_internalsessionid",
						"type": "String"
					},
					{
						"name": "address1_addressid",
						"type": "String"
					},
					{
						"name": "createdbyexternalpartyname",
						"type": "String"
					},
					{
						"name": "fullname",
						"type": "String"
					},
					{
						"name": "ms_otp",
						"type": "String"
					},
					{
						"name": "vras_medicalgroupnumber",
						"type": "String"
					},
					{
						"name": "address3_country",
						"type": "String"
					},
					{
						"name": "address1_composite",
						"type": "String"
					},
					{
						"name": "parentcustomeridtype",
						"type": "String"
					},
					{
						"name": "entityimage_timestamp",
						"type": "String"
					},
					{
						"name": "teamsfollowed",
						"type": "String"
					},
					{
						"name": "timespentbymeonemailandmeetings",
						"type": "String"
					},
					{
						"name": "adx_portalinvitationcode",
						"type": "String"
					},
					{
						"name": "adx_identity_lockoutenddate",
						"type": "String"
					},
					{
						"name": "address1_latitude",
						"type": "String"
					},
					{
						"name": "assistantphone",
						"type": "String"
					},
					{
						"name": "ms_associatedorganisationyominame",
						"type": "String"
					},
					{
						"name": "address3_postalcode",
						"type": "String"
					},
					{
						"name": "address2_longitude",
						"type": "String"
					},
					{
						"name": "ms_preferredlanguagename",
						"type": "String"
					},
					{
						"name": "address3_stateorprovince",
						"type": "String"
					},
					{
						"name": "parentcontactidyominame",
						"type": "String"
					},
					{
						"name": "address1_country",
						"type": "String"
					},
					{
						"name": "vras_contactidname",
						"type": "String"
					},
					{
						"name": "owneridtype",
						"type": "String"
					},
					{
						"name": "traversedpath",
						"type": "String"
					},
					{
						"name": "hmn_autonumber",
						"type": "String"
					},
					{
						"name": "ms_addresssearch",
						"type": "String"
					},
					{
						"name": "address2_line2",
						"type": "String"
					},
					{
						"name": "importsequencenumber",
						"type": "String"
					},
					{
						"name": "adx_profilealertinstructions",
						"type": "String"
					},
					{
						"name": "vras_medicalid",
						"type": "String"
					},
					{
						"name": "preferredequipmentidname",
						"type": "String"
					},
					{
						"name": "adx_preferredlanguageidname",
						"type": "String"
					},
					{
						"name": "description",
						"type": "String"
					},
					{
						"name": "ms_guardianorrepresentativename",
						"type": "String"
					},
					{
						"name": "middlename",
						"type": "String"
					},
					{
						"name": "adx_profilemodifiedon",
						"type": "String"
					},
					{
						"name": "ftpsiteurl",
						"type": "String"
					},
					{
						"name": "modifiedbyexternalpartyname",
						"type": "String"
					},
					{
						"name": "preferredsystemuseridyominame",
						"type": "String"
					},
					{
						"name": "businesscardattributes",
						"type": "String"
					},
					{
						"name": "address3_longitude",
						"type": "String"
					},
					{
						"name": "address1_upszone",
						"type": "String"
					},
					{
						"name": "externaluseridentifier",
						"type": "String"
					},
					{
						"name": "slainvokedidname",
						"type": "String"
					},
					{
						"name": "hmn_recentbookingid",
						"type": "String"
					},
					{
						"name": "ms_guardianorrepresentativemobilenumber",
						"type": "String"
					},
					{
						"name": "ms_occupationtypename",
						"type": "String"
					},
					{
						"name": "vras_organizationzip",
						"type": "String"
					},
					{
						"name": "address3_latitude",
						"type": "String"
					},
					{
						"name": "modifiedbyname",
						"type": "String"
					},
					{
						"name": "preferredserviceidname",
						"type": "String"
					},
					{
						"name": "modifiedonbehalfbyname",
						"type": "String"
					},
					{
						"name": "callback",
						"type": "String"
					},
					{
						"name": "msa_managingpartneridname",
						"type": "String"
					},
					{
						"name": "department",
						"type": "String"
					},
					{
						"name": "address1_line2",
						"type": "String"
					},
					{
						"name": "suffix",
						"type": "String"
					},
					{
						"name": "anniversary",
						"type": "String"
					},
					{
						"name": "msgdpr_consentchangesourceformidname",
						"type": "String"
					},
					{
						"name": "address2_fax",
						"type": "String"
					},
					{
						"name": "address2_upszone",
						"type": "String"
					},
					{
						"name": "ms_organisationid",
						"type": "String"
					},
					{
						"name": "createdbyexternalpartyyominame",
						"type": "String"
					},
					{
						"name": "msgdpr_gdprparentidname",
						"type": "String"
					},
					{
						"name": "address3_line3",
						"type": "String"
					},
					{
						"name": "address1_line3",
						"type": "String"
					},
					{
						"name": "ms_preferredname",
						"type": "String"
					},
					{
						"name": "createdbyyominame",
						"type": "String"
					},
					{
						"name": "owneridname",
						"type": "String"
					},
					{
						"name": "adx_createdbyipaddress",
						"type": "String"
					},
					{
						"name": "ms_countryofbirthname",
						"type": "String"
					},
					{
						"name": "address1_postofficebox",
						"type": "String"
					},
					{
						"name": "yomifullname",
						"type": "String"
					},
					{
						"name": "address2_name",
						"type": "String"
					},
					{
						"name": "msevtmgt_aadobjectid",
						"type": "String"
					},
					{
						"name": "websiteurl",
						"type": "String"
					},
					{
						"name": "governmentid",
						"type": "String"
					},
					{
						"name": "msevtmgt_contactidname",
						"type": "String"
					},
					{
						"name": "parentcontactidname",
						"type": "String"
					},
					{
						"name": "adx_identity_newpassword",
						"type": "String"
					},
					{
						"name": "address3_composite",
						"type": "String"
					},
					{
						"name": "ms_age",
						"type": "String"
					},
					{
						"name": "vras_organizationaddresssearch",
						"type": "String"
					},
					{
						"name": "msdyncrm_segmentmemberidname",
						"type": "String"
					},
					{
						"name": "address2_utcoffset",
						"type": "String"
					},
					{
						"name": "ms_guardianorrepresentativeemail",
						"type": "String"
					},
					{
						"name": "company",
						"type": "String"
					},
					{
						"name": "adx_identity_accessfailedcount",
						"type": "String"
					},
					{
						"name": "address3_county",
						"type": "String"
					},
					{
						"name": "address2_telephone3",
						"type": "String"
					},
					{
						"name": "lastname",
						"type": "String"
					},
					{
						"name": "msdyncrm_marketingformidname",
						"type": "String"
					},
					{
						"name": "timezoneruleversionnumber",
						"type": "String"
					},
					{
						"name": "parentcustomeridyominame",
						"type": "String"
					},
					{
						"name": "ms_sessionname",
						"type": "String"
					},
					{
						"name": "address1_postalcode",
						"type": "String"
					},
					{
						"name": "address2_composite",
						"type": "String"
					},
					{
						"name": "address3_primarycontactname",
						"type": "String"
					},
					{
						"name": "address2_postalcode",
						"type": "String"
					},
					{
						"name": "vras_firstdosevaccinename",
						"type": "String"
					},
					{
						"name": "ms_doyouhaveanunderlyingmedicalcondition",
						"type": "String"
					},
					{
						"name": "ms_registrationinvitation",
						"type": "String"
					},
					{
						"name": "ms_registrationinvitation_entitytype",
						"type": "String"
					},
					{
						"name": "ms_registrationcode",
						"type": "String"
					},
					{
						"name": "ms_registrationinvitationname",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/storagegen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv_dataset_copy1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storagegen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string",
						"defaultValue": "test.csv"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": "ds1",
						"fileSystem": "dest"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Id",
						"type": "String"
					},
					{
						"name": "SinkCreatedOn",
						"type": "String"
					},
					{
						"name": "SinkModifiedOn",
						"type": "String"
					},
					{
						"name": "statecode",
						"type": "String"
					},
					{
						"name": "statuscode",
						"type": "String"
					},
					{
						"name": "ms_preexistingconditions",
						"type": "String"
					},
					{
						"name": "address3_freighttermscode",
						"type": "String"
					},
					{
						"name": "hmn_source",
						"type": "String"
					},
					{
						"name": "ms_indigenousstatus",
						"type": "String"
					},
					{
						"name": "ms_lastassessmentstatus",
						"type": "String"
					},
					{
						"name": "address1_freighttermscode",
						"type": "String"
					},
					{
						"name": "ms_medicarenumberstatus",
						"type": "String"
					},
					{
						"name": "familystatuscode",
						"type": "String"
					},
					{
						"name": "preferredcontactmethodcode",
						"type": "String"
					},
					{
						"name": "haschildrencode",
						"type": "String"
					},
					{
						"name": "customertypecode",
						"type": "String"
					},
					{
						"name": "address3_addresstypecode",
						"type": "String"
					},
					{
						"name": "ms_classification",
						"type": "String"
					},
					{
						"name": "gendercode",
						"type": "String"
					},
					{
						"name": "paymenttermscode",
						"type": "String"
					},
					{
						"name": "ms_agegroup",
						"type": "String"
					},
					{
						"name": "customersizecode",
						"type": "String"
					},
					{
						"name": "address2_shippingmethodcode",
						"type": "String"
					},
					{
						"name": "ms_sessionstatus",
						"type": "String"
					},
					{
						"name": "ms_registrationtype",
						"type": "String"
					},
					{
						"name": "ms_vaccinationstatus",
						"type": "String"
					},
					{
						"name": "territorycode",
						"type": "String"
					},
					{
						"name": "address3_shippingmethodcode",
						"type": "String"
					},
					{
						"name": "shippingmethodcode",
						"type": "String"
					},
					{
						"name": "address2_freighttermscode",
						"type": "String"
					},
					{
						"name": "accountrolecode",
						"type": "String"
					},
					{
						"name": "educationcode",
						"type": "String"
					},
					{
						"name": "address1_shippingmethodcode",
						"type": "String"
					},
					{
						"name": "ms_immunisationstatus",
						"type": "String"
					},
					{
						"name": "vras_gender",
						"type": "String"
					},
					{
						"name": "vras_organizationstate",
						"type": "String"
					},
					{
						"name": "ms_gendervcms",
						"type": "String"
					},
					{
						"name": "ms_lastdose",
						"type": "String"
					},
					{
						"name": "msdyn_orgchangestatus",
						"type": "String"
					},
					{
						"name": "ms_contactmethod",
						"type": "String"
					},
					{
						"name": "address2_addresstypecode",
						"type": "String"
					},
					{
						"name": "ms_role",
						"type": "String"
					},
					{
						"name": "address1_addresstypecode",
						"type": "String"
					},
					{
						"name": "preferredappointmentdaycode",
						"type": "String"
					},
					{
						"name": "preferredappointmenttimecode",
						"type": "String"
					},
					{
						"name": "msgdpr_gdprconsent",
						"type": "String"
					},
					{
						"name": "leadsourcecode",
						"type": "String"
					},
					{
						"name": "ms_translatorservice",
						"type": "String"
					},
					{
						"name": "adx_identity_emailaddress1confirmed",
						"type": "String"
					},
					{
						"name": "donotphone",
						"type": "String"
					},
					{
						"name": "vras_surveyoptin",
						"type": "String"
					},
					{
						"name": "ms_serologyreportattached",
						"type": "String"
					},
					{
						"name": "donotpostalmail",
						"type": "String"
					},
					{
						"name": "creditonhold",
						"type": "String"
					},
					{
						"name": "adx_confirmremovepassword",
						"type": "String"
					},
					{
						"name": "adx_identity_twofactorenabled",
						"type": "String"
					},
					{
						"name": "adx_profilealert",
						"type": "String"
					},
					{
						"name": "isbackofficecustomer",
						"type": "String"
					},
					{
						"name": "ms_covidimmunitystatus",
						"type": "String"
					},
					{
						"name": "ms_interpratorrequired",
						"type": "String"
					},
					{
						"name": "isprivate",
						"type": "String"
					},
					{
						"name": "donotbulkemail",
						"type": "String"
					},
					{
						"name": "adx_identity_locallogindisabled",
						"type": "String"
					},
					{
						"name": "vras_isportalcontact",
						"type": "String"
					},
					{
						"name": "participatesinworkflow",
						"type": "String"
					},
					{
						"name": "msdyn_isminorwithparentalconsent",
						"type": "String"
					},
					{
						"name": "marketingonly",
						"type": "String"
					},
					{
						"name": "merged",
						"type": "String"
					},
					{
						"name": "ms_donotsendfollowupsurveys",
						"type": "String"
					},
					{
						"name": "msgdpr_gdprischild",
						"type": "String"
					},
					{
						"name": "donotemail",
						"type": "String"
					},
					{
						"name": "adx_identity_logonenabled",
						"type": "String"
					},
					{
						"name": "adx_identity_lockoutenabled",
						"type": "String"
					},
					{
						"name": "followemail",
						"type": "String"
					},
					{
						"name": "msdyn_isminor",
						"type": "String"
					},
					{
						"name": "donotfax",
						"type": "String"
					},
					{
						"name": "msdyn_gdproptout",
						"type": "String"
					},
					{
						"name": "ms_guardianrepresentingforconsent",
						"type": "String"
					},
					{
						"name": "isautocreate",
						"type": "String"
					},
					{
						"name": "ms_translatorrequired",
						"type": "String"
					},
					{
						"name": "adx_identity_mobilephoneconfirmed",
						"type": "String"
					},
					{
						"name": "donotbulkpostalmail",
						"type": "String"
					},
					{
						"name": "msdyncrm_rememberme",
						"type": "String"
					},
					{
						"name": "ms_registered",
						"type": "String"
					},
					{
						"name": "msgdpr_donottrack",
						"type": "String"
					},
					{
						"name": "msdyn_disablewebtracking",
						"type": "String"
					},
					{
						"name": "ms_consenttodatacollection",
						"type": "String"
					},
					{
						"name": "adx_profileisanonymous",
						"type": "String"
					},
					{
						"name": "donotsendmm",
						"type": "String"
					},
					{
						"name": "vras_interviewattested",
						"type": "String"
					},
					{
						"name": "parentcontactid",
						"type": "String"
					},
					{
						"name": "parentcontactid_entitytype",
						"type": "String"
					},
					{
						"name": "owninguser",
						"type": "String"
					},
					{
						"name": "owninguser_entitytype",
						"type": "String"
					},
					{
						"name": "masterid",
						"type": "String"
					},
					{
						"name": "masterid_entitytype",
						"type": "String"
					},
					{
						"name": "ms_occupationtype",
						"type": "String"
					},
					{
						"name": "ms_occupationtype_entitytype",
						"type": "String"
					},
					{
						"name": "createdbyexternalparty",
						"type": "String"
					},
					{
						"name": "createdbyexternalparty_entitytype",
						"type": "String"
					},
					{
						"name": "accountid",
						"type": "String"
					},
					{
						"name": "accountid_entitytype",
						"type": "String"
					},
					{
						"name": "ms_sessionbatch",
						"type": "String"
					},
					{
						"name": "ms_sessionbatch_entitytype",
						"type": "String"
					},
					{
						"name": "owningteam",
						"type": "String"
					},
					{
						"name": "owningteam_entitytype",
						"type": "String"
					},
					{
						"name": "owningbusinessunit",
						"type": "String"
					},
					{
						"name": "owningbusinessunit_entitytype",
						"type": "String"
					},
					{
						"name": "vras_bookableresourcecontactid",
						"type": "String"
					},
					{
						"name": "vras_bookableresourcecontactid_entitytype",
						"type": "String"
					},
					{
						"name": "modifiedonbehalfby",
						"type": "String"
					},
					{
						"name": "modifiedonbehalfby_entitytype",
						"type": "String"
					},
					{
						"name": "createdonbehalfby",
						"type": "String"
					},
					{
						"name": "createdonbehalfby_entitytype",
						"type": "String"
					},
					{
						"name": "msdyncrm_emailid",
						"type": "String"
					},
					{
						"name": "msdyncrm_emailid_entitytype",
						"type": "String"
					},
					{
						"name": "modifiedby",
						"type": "String"
					},
					{
						"name": "modifiedby_entitytype",
						"type": "String"
					},
					{
						"name": "vras_contactid",
						"type": "String"
					},
					{
						"name": "vras_contactid_entitytype",
						"type": "String"
					},
					{
						"name": "preferredequipmentid",
						"type": "String"
					},
					{
						"name": "preferredequipmentid_entitytype",
						"type": "String"
					},
					{
						"name": "msevtmgt_contactid",
						"type": "String"
					},
					{
						"name": "msevtmgt_contactid_entitytype",
						"type": "String"
					},
					{
						"name": "msdyncrm_contactid",
						"type": "String"
					},
					{
						"name": "msdyncrm_contactid_entitytype",
						"type": "String"
					},
					{
						"name": "ms_countryofbirth",
						"type": "String"
					},
					{
						"name": "ms_countryofbirth_entitytype",
						"type": "String"
					},
					{
						"name": "msdyncrm_marketingformid",
						"type": "String"
					},
					{
						"name": "msdyncrm_marketingformid_entitytype",
						"type": "String"
					},
					{
						"name": "msdyncrm_marketingpageid",
						"type": "String"
					},
					{
						"name": "msdyncrm_marketingpageid_entitytype",
						"type": "String"
					},
					{
						"name": "defaultpricelevelid",
						"type": "String"
					},
					{
						"name": "defaultpricelevelid_entitytype",
						"type": "String"
					},
					{
						"name": "ms_employerid",
						"type": "String"
					},
					{
						"name": "ms_employerid_entitytype",
						"type": "String"
					},
					{
						"name": "originatingleadid",
						"type": "String"
					},
					{
						"name": "originatingleadid_entitytype",
						"type": "String"
					},
					{
						"name": "slainvokedid",
						"type": "String"
					},
					{
						"name": "slainvokedid_entitytype",
						"type": "String"
					},
					{
						"name": "ms_ethnicity",
						"type": "String"
					},
					{
						"name": "ms_ethnicity_entitytype",
						"type": "String"
					},
					{
						"name": "parent_contactid",
						"type": "String"
					},
					{
						"name": "parent_contactid_entitytype",
						"type": "String"
					},
					{
						"name": "preferredserviceid",
						"type": "String"
					},
					{
						"name": "preferredserviceid_entitytype",
						"type": "String"
					},
					{
						"name": "slaid",
						"type": "String"
					},
					{
						"name": "slaid_entitytype",
						"type": "String"
					},
					{
						"name": "msdyncrm_segmentmemberid",
						"type": "String"
					},
					{
						"name": "msdyncrm_segmentmemberid_entitytype",
						"type": "String"
					},
					{
						"name": "ms_session",
						"type": "String"
					},
					{
						"name": "ms_session_entitytype",
						"type": "String"
					},
					{
						"name": "msevtmgt_originatingeventid",
						"type": "String"
					},
					{
						"name": "msevtmgt_originatingeventid_entitytype",
						"type": "String"
					},
					{
						"name": "adx_preferredlanguageid",
						"type": "String"
					},
					{
						"name": "adx_preferredlanguageid_entitytype",
						"type": "String"
					},
					{
						"name": "createdby",
						"type": "String"
					},
					{
						"name": "createdby_entitytype",
						"type": "String"
					},
					{
						"name": "msgdpr_consentchangesourceformid",
						"type": "String"
					},
					{
						"name": "msgdpr_consentchangesourceformid_entitytype",
						"type": "String"
					},
					{
						"name": "preferredsystemuserid",
						"type": "String"
					},
					{
						"name": "preferredsystemuserid_entitytype",
						"type": "String"
					},
					{
						"name": "modifiedbyexternalparty",
						"type": "String"
					},
					{
						"name": "modifiedbyexternalparty_entitytype",
						"type": "String"
					},
					{
						"name": "msdyncrm_customerjourneyid",
						"type": "String"
					},
					{
						"name": "msdyncrm_customerjourneyid_entitytype",
						"type": "String"
					},
					{
						"name": "ms_associatedorganisation",
						"type": "String"
					},
					{
						"name": "ms_associatedorganisation_entitytype",
						"type": "String"
					},
					{
						"name": "transactioncurrencyid",
						"type": "String"
					},
					{
						"name": "transactioncurrencyid_entitytype",
						"type": "String"
					},
					{
						"name": "msa_managingpartnerid",
						"type": "String"
					},
					{
						"name": "msa_managingpartnerid_entitytype",
						"type": "String"
					},
					{
						"name": "msgdpr_gdprparentid",
						"type": "String"
					},
					{
						"name": "msgdpr_gdprparentid_entitytype",
						"type": "String"
					},
					{
						"name": "ownerid",
						"type": "String"
					},
					{
						"name": "ownerid_entitytype",
						"type": "String"
					},
					{
						"name": "parentcustomerid",
						"type": "String"
					},
					{
						"name": "parentcustomerid_entitytype",
						"type": "String"
					},
					{
						"name": "aging30_base",
						"type": "String"
					},
					{
						"name": "aging60",
						"type": "String"
					},
					{
						"name": "aging60_base",
						"type": "String"
					},
					{
						"name": "aging90_base",
						"type": "String"
					},
					{
						"name": "annualincome",
						"type": "String"
					},
					{
						"name": "creditlimit_base",
						"type": "String"
					},
					{
						"name": "annualincome_base",
						"type": "String"
					},
					{
						"name": "aging90",
						"type": "String"
					},
					{
						"name": "aging30",
						"type": "String"
					},
					{
						"name": "creditlimit",
						"type": "String"
					},
					{
						"name": "address2_latitude",
						"type": "String"
					},
					{
						"name": "managerphone",
						"type": "String"
					},
					{
						"name": "stageid",
						"type": "String"
					},
					{
						"name": "address3_city",
						"type": "String"
					},
					{
						"name": "msa_managingpartneridyominame",
						"type": "String"
					},
					{
						"name": "parentcustomeridname",
						"type": "String"
					},
					{
						"name": "createdonbehalfbyyominame",
						"type": "String"
					},
					{
						"name": "ms_medicarenumber",
						"type": "String"
					},
					{
						"name": "address2_city",
						"type": "String"
					},
					{
						"name": "utcconversiontimezonecode",
						"type": "String"
					},
					{
						"name": "address3_name",
						"type": "String"
					},
					{
						"name": "msdyncrm_contactidname",
						"type": "String"
					},
					{
						"name": "adx_identity_lastsuccessfullogin",
						"type": "String"
					},
					{
						"name": "adx_identity_securitystamp",
						"type": "String"
					},
					{
						"name": "businesscard",
						"type": "String"
					},
					{
						"name": "spousesname",
						"type": "String"
					},
					{
						"name": "createdon",
						"type": "String"
					},
					{
						"name": "parent_contactidname",
						"type": "String"
					},
					{
						"name": "modifiedbyyominame",
						"type": "String"
					},
					{
						"name": "transactioncurrencyidname",
						"type": "String"
					},
					{
						"name": "address2_line3",
						"type": "String"
					},
					{
						"name": "mastercontactidname",
						"type": "String"
					},
					{
						"name": "address2_stateorprovince",
						"type": "String"
					},
					{
						"name": "msdyncrm_emailidname",
						"type": "String"
					},
					{
						"name": "vras_recentflushotbookingid",
						"type": "String"
					},
					{
						"name": "address1_city",
						"type": "String"
					},
					{
						"name": "firstname",
						"type": "String"
					},
					{
						"name": "business2",
						"type": "String"
					},
					{
						"name": "address1_name",
						"type": "String"
					},
					{
						"name": "telephone1",
						"type": "String"
					},
					{
						"name": "createdbyname",
						"type": "String"
					},
					{
						"name": "overriddencreatedon",
						"type": "String"
					},
					{
						"name": "managername",
						"type": "String"
					},
					{
						"name": "msdyncrm_marketingpageidname",
						"type": "String"
					},
					{
						"name": "home2",
						"type": "String"
					},
					{
						"name": "msdyn_portaltermsagreementdate",
						"type": "String"
					},
					{
						"name": "adx_organizationname",
						"type": "String"
					},
					{
						"name": "adx_identity_passwordhash",
						"type": "String"
					},
					{
						"name": "accountidyominame",
						"type": "String"
					},
					{
						"name": "hmn_bookingguid",
						"type": "String"
					},
					{
						"name": "ms_employeridname",
						"type": "String"
					},
					{
						"name": "ms_invitationsenton",
						"type": "String"
					},
					{
						"name": "adx_createdbyusername",
						"type": "String"
					},
					{
						"name": "parent_contactidyominame",
						"type": "String"
					},
					{
						"name": "address2_addressid",
						"type": "String"
					},
					{
						"name": "address2_country",
						"type": "String"
					},
					{
						"name": "adx_identity_username",
						"type": "String"
					},
					{
						"name": "ms_generatedinvitationcode",
						"type": "String"
					},
					{
						"name": "adx_modifiedbyipaddress",
						"type": "String"
					},
					{
						"name": "slaname",
						"type": "String"
					},
					{
						"name": "subscriptionid",
						"type": "String"
					},
					{
						"name": "yomimiddlename",
						"type": "String"
					},
					{
						"name": "ms_lastprescreeningresult",
						"type": "String"
					},
					{
						"name": "adx_portalinvitationurl",
						"type": "String"
					},
					{
						"name": "assistantname",
						"type": "String"
					},
					{
						"name": "onholdtime",
						"type": "String"
					},
					{
						"name": "ms_employeridyominame",
						"type": "String"
					},
					{
						"name": "address3_line2",
						"type": "String"
					},
					{
						"name": "vras_organizationaddressline1",
						"type": "String"
					},
					{
						"name": "vras_organizationaddressline2",
						"type": "String"
					},
					{
						"name": "preferredsystemuseridname",
						"type": "String"
					},
					{
						"name": "address2_postofficebox",
						"type": "String"
					},
					{
						"name": "adx_profilealertdate",
						"type": "String"
					},
					{
						"name": "ms_middleinitial",
						"type": "String"
					},
					{
						"name": "entityimageid",
						"type": "String"
					},
					{
						"name": "address3_telephone1",
						"type": "String"
					},
					{
						"name": "address3_telephone2",
						"type": "String"
					},
					{
						"name": "address3_telephone3",
						"type": "String"
					},
					{
						"name": "employeeid",
						"type": "String"
					},
					{
						"name": "address1_primarycontactname",
						"type": "String"
					},
					{
						"name": "address2_county",
						"type": "String"
					},
					{
						"name": "vras_organizationstateorprovince",
						"type": "String"
					},
					{
						"name": "vras_covidvaccinebookingid",
						"type": "String"
					},
					{
						"name": "modifiedbyexternalpartyyominame",
						"type": "String"
					},
					{
						"name": "msdyncrm_insights_placeholder",
						"type": "String"
					},
					{
						"name": "childrensnames",
						"type": "String"
					},
					{
						"name": "ms_sessionbatchname",
						"type": "String"
					},
					{
						"name": "accountidname",
						"type": "String"
					},
					{
						"name": "vras_organizationlongitude",
						"type": "String"
					},
					{
						"name": "vras_organizationcountry",
						"type": "String"
					},
					{
						"name": "nickname",
						"type": "String"
					},
					{
						"name": "salutation",
						"type": "String"
					},
					{
						"name": "address1_telephone1",
						"type": "String"
					},
					{
						"name": "yomifirstname",
						"type": "String"
					},
					{
						"name": "address2_line1",
						"type": "String"
					},
					{
						"name": "address1_stateorprovince",
						"type": "String"
					},
					{
						"name": "address3_postofficebox",
						"type": "String"
					},
					{
						"name": "processid",
						"type": "String"
					},
					{
						"name": "address1_longitude",
						"type": "String"
					},
					{
						"name": "modifiedon",
						"type": "String"
					},
					{
						"name": "ms_yearlevel",
						"type": "String"
					},
					{
						"name": "fax",
						"type": "String"
					},
					{
						"name": "birthdate",
						"type": "String"
					},
					{
						"name": "createdonbehalfbyname",
						"type": "String"
					},
					{
						"name": "ms_dobstring",
						"type": "String"
					},
					{
						"name": "address2_telephone1",
						"type": "String"
					},
					{
						"name": "address3_fax",
						"type": "String"
					},
					{
						"name": "address1_telephone2",
						"type": "String"
					},
					{
						"name": "address2_primarycontactname",
						"type": "String"
					},
					{
						"name": "emailaddress3",
						"type": "String"
					},
					{
						"name": "emailaddress2",
						"type": "String"
					},
					{
						"name": "emailaddress1",
						"type": "String"
					},
					{
						"name": "address1_line1",
						"type": "String"
					},
					{
						"name": "address1_utcoffset",
						"type": "String"
					},
					{
						"name": "mastercontactidyominame",
						"type": "String"
					},
					{
						"name": "originatingleadidyominame",
						"type": "String"
					},
					{
						"name": "telephone3",
						"type": "String"
					},
					{
						"name": "entityimage_url",
						"type": "String"
					},
					{
						"name": "ms_dateofbirth",
						"type": "String"
					},
					{
						"name": "msevtmgt_originatingeventidname",
						"type": "String"
					},
					{
						"name": "ms_nextofkin",
						"type": "String"
					},
					{
						"name": "vras_nameofinsurance",
						"type": "String"
					},
					{
						"name": "adx_timezone",
						"type": "String"
					},
					{
						"name": "address1_fax",
						"type": "String"
					},
					{
						"name": "contactid",
						"type": "String"
					},
					{
						"name": "vras_bookableresourcecontactidname",
						"type": "String"
					},
					{
						"name": "modifiedonbehalfbyyominame",
						"type": "String"
					},
					{
						"name": "mobilephone",
						"type": "String"
					},
					{
						"name": "address1_county",
						"type": "String"
					},
					{
						"name": "msdyncrm_customerjourneyidname",
						"type": "String"
					},
					{
						"name": "pager",
						"type": "String"
					},
					{
						"name": "ms_nextofkinrelationship",
						"type": "String"
					},
					{
						"name": "lastonholdtime",
						"type": "String"
					},
					{
						"name": "adx_profilelastactivity",
						"type": "String"
					},
					{
						"name": "versionnumber",
						"type": "String"
					},
					{
						"name": "adx_publicprofilecopy",
						"type": "String"
					},
					{
						"name": "address3_line1",
						"type": "String"
					},
					{
						"name": "ms_nextofkincontactnumber",
						"type": "String"
					},
					{
						"name": "address3_utcoffset",
						"type": "String"
					},
					{
						"name": "address3_addressid",
						"type": "String"
					},
					{
						"name": "ms_registrationdate",
						"type": "String"
					},
					{
						"name": "ms_associatedorganisationname",
						"type": "String"
					},
					{
						"name": "owneridyominame",
						"type": "String"
					},
					{
						"name": "vras_organizationcounty",
						"type": "String"
					},
					{
						"name": "address1_telephone3",
						"type": "String"
					},
					{
						"name": "msdyncrm_marketingformsubmissiondateprecise",
						"type": "String"
					},
					{
						"name": "defaultpricelevelidname",
						"type": "String"
					},
					{
						"name": "telephone2",
						"type": "String"
					},
					{
						"name": "adx_modifiedbyusername",
						"type": "String"
					},
					{
						"name": "lastusedincampaign",
						"type": "String"
					},
					{
						"name": "hmn_confirmdob",
						"type": "String"
					},
					{
						"name": "yomilastname",
						"type": "String"
					},
					{
						"name": "vras_organizationlatitude",
						"type": "String"
					},
					{
						"name": "originatingleadidname",
						"type": "String"
					},
					{
						"name": "exchangerate",
						"type": "String"
					},
					{
						"name": "numberofchildren",
						"type": "String"
					},
					{
						"name": "address3_upszone",
						"type": "String"
					},
					{
						"name": "address2_telephone2",
						"type": "String"
					},
					{
						"name": "jobtitle",
						"type": "String"
					},
					{
						"name": "ms_ethnicityname",
						"type": "String"
					},
					{
						"name": "msgdpr_gdprparentidyominame",
						"type": "String"
					},
					{
						"name": "vras_organizationcity",
						"type": "String"
					},
					{
						"name": "vras_internalsessionid",
						"type": "String"
					},
					{
						"name": "address1_addressid",
						"type": "String"
					},
					{
						"name": "createdbyexternalpartyname",
						"type": "String"
					},
					{
						"name": "fullname",
						"type": "String"
					},
					{
						"name": "ms_otp",
						"type": "String"
					},
					{
						"name": "vras_medicalgroupnumber",
						"type": "String"
					},
					{
						"name": "address3_country",
						"type": "String"
					},
					{
						"name": "address1_composite",
						"type": "String"
					},
					{
						"name": "parentcustomeridtype",
						"type": "String"
					},
					{
						"name": "entityimage_timestamp",
						"type": "String"
					},
					{
						"name": "teamsfollowed",
						"type": "String"
					},
					{
						"name": "timespentbymeonemailandmeetings",
						"type": "String"
					},
					{
						"name": "adx_portalinvitationcode",
						"type": "String"
					},
					{
						"name": "adx_identity_lockoutenddate",
						"type": "String"
					},
					{
						"name": "address1_latitude",
						"type": "String"
					},
					{
						"name": "assistantphone",
						"type": "String"
					},
					{
						"name": "ms_associatedorganisationyominame",
						"type": "String"
					},
					{
						"name": "address3_postalcode",
						"type": "String"
					},
					{
						"name": "address2_longitude",
						"type": "String"
					},
					{
						"name": "ms_preferredlanguagename",
						"type": "String"
					},
					{
						"name": "address3_stateorprovince",
						"type": "String"
					},
					{
						"name": "parentcontactidyominame",
						"type": "String"
					},
					{
						"name": "address1_country",
						"type": "String"
					},
					{
						"name": "vras_contactidname",
						"type": "String"
					},
					{
						"name": "owneridtype",
						"type": "String"
					},
					{
						"name": "traversedpath",
						"type": "String"
					},
					{
						"name": "hmn_autonumber",
						"type": "String"
					},
					{
						"name": "ms_addresssearch",
						"type": "String"
					},
					{
						"name": "address2_line2",
						"type": "String"
					},
					{
						"name": "importsequencenumber",
						"type": "String"
					},
					{
						"name": "adx_profilealertinstructions",
						"type": "String"
					},
					{
						"name": "vras_medicalid",
						"type": "String"
					},
					{
						"name": "preferredequipmentidname",
						"type": "String"
					},
					{
						"name": "adx_preferredlanguageidname",
						"type": "String"
					},
					{
						"name": "description",
						"type": "String"
					},
					{
						"name": "ms_guardianorrepresentativename",
						"type": "String"
					},
					{
						"name": "middlename",
						"type": "String"
					},
					{
						"name": "adx_profilemodifiedon",
						"type": "String"
					},
					{
						"name": "ftpsiteurl",
						"type": "String"
					},
					{
						"name": "modifiedbyexternalpartyname",
						"type": "String"
					},
					{
						"name": "preferredsystemuseridyominame",
						"type": "String"
					},
					{
						"name": "businesscardattributes",
						"type": "String"
					},
					{
						"name": "address3_longitude",
						"type": "String"
					},
					{
						"name": "address1_upszone",
						"type": "String"
					},
					{
						"name": "externaluseridentifier",
						"type": "String"
					},
					{
						"name": "slainvokedidname",
						"type": "String"
					},
					{
						"name": "hmn_recentbookingid",
						"type": "String"
					},
					{
						"name": "ms_guardianorrepresentativemobilenumber",
						"type": "String"
					},
					{
						"name": "ms_occupationtypename",
						"type": "String"
					},
					{
						"name": "vras_organizationzip",
						"type": "String"
					},
					{
						"name": "address3_latitude",
						"type": "String"
					},
					{
						"name": "modifiedbyname",
						"type": "String"
					},
					{
						"name": "preferredserviceidname",
						"type": "String"
					},
					{
						"name": "modifiedonbehalfbyname",
						"type": "String"
					},
					{
						"name": "callback",
						"type": "String"
					},
					{
						"name": "msa_managingpartneridname",
						"type": "String"
					},
					{
						"name": "department",
						"type": "String"
					},
					{
						"name": "address1_line2",
						"type": "String"
					},
					{
						"name": "suffix",
						"type": "String"
					},
					{
						"name": "anniversary",
						"type": "String"
					},
					{
						"name": "msgdpr_consentchangesourceformidname",
						"type": "String"
					},
					{
						"name": "address2_fax",
						"type": "String"
					},
					{
						"name": "address2_upszone",
						"type": "String"
					},
					{
						"name": "ms_organisationid",
						"type": "String"
					},
					{
						"name": "createdbyexternalpartyyominame",
						"type": "String"
					},
					{
						"name": "msgdpr_gdprparentidname",
						"type": "String"
					},
					{
						"name": "address3_line3",
						"type": "String"
					},
					{
						"name": "address1_line3",
						"type": "String"
					},
					{
						"name": "ms_preferredname",
						"type": "String"
					},
					{
						"name": "createdbyyominame",
						"type": "String"
					},
					{
						"name": "owneridname",
						"type": "String"
					},
					{
						"name": "adx_createdbyipaddress",
						"type": "String"
					},
					{
						"name": "ms_countryofbirthname",
						"type": "String"
					},
					{
						"name": "address1_postofficebox",
						"type": "String"
					},
					{
						"name": "yomifullname",
						"type": "String"
					},
					{
						"name": "address2_name",
						"type": "String"
					},
					{
						"name": "msevtmgt_aadobjectid",
						"type": "String"
					},
					{
						"name": "websiteurl",
						"type": "String"
					},
					{
						"name": "governmentid",
						"type": "String"
					},
					{
						"name": "msevtmgt_contactidname",
						"type": "String"
					},
					{
						"name": "parentcontactidname",
						"type": "String"
					},
					{
						"name": "adx_identity_newpassword",
						"type": "String"
					},
					{
						"name": "address3_composite",
						"type": "String"
					},
					{
						"name": "ms_age",
						"type": "String"
					},
					{
						"name": "vras_organizationaddresssearch",
						"type": "String"
					},
					{
						"name": "msdyncrm_segmentmemberidname",
						"type": "String"
					},
					{
						"name": "address2_utcoffset",
						"type": "String"
					},
					{
						"name": "ms_guardianorrepresentativeemail",
						"type": "String"
					},
					{
						"name": "company",
						"type": "String"
					},
					{
						"name": "adx_identity_accessfailedcount",
						"type": "String"
					},
					{
						"name": "address3_county",
						"type": "String"
					},
					{
						"name": "address2_telephone3",
						"type": "String"
					},
					{
						"name": "lastname",
						"type": "String"
					},
					{
						"name": "msdyncrm_marketingformidname",
						"type": "String"
					},
					{
						"name": "timezoneruleversionnumber",
						"type": "String"
					},
					{
						"name": "parentcustomeridyominame",
						"type": "String"
					},
					{
						"name": "ms_sessionname",
						"type": "String"
					},
					{
						"name": "address1_postalcode",
						"type": "String"
					},
					{
						"name": "address2_composite",
						"type": "String"
					},
					{
						"name": "address3_primarycontactname",
						"type": "String"
					},
					{
						"name": "address2_postalcode",
						"type": "String"
					},
					{
						"name": "vras_firstdosevaccinename",
						"type": "String"
					},
					{
						"name": "ms_doyouhaveanunderlyingmedicalcondition",
						"type": "String"
					},
					{
						"name": "ms_registrationinvitation",
						"type": "String"
					},
					{
						"name": "ms_registrationinvitation_entitytype",
						"type": "String"
					},
					{
						"name": "ms_registrationcode",
						"type": "String"
					},
					{
						"name": "ms_registrationinvitationname",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/storagegen2')]"
			]
		}
	]
}