magdatafactory-dev-mutaz/PartialArmTemplates/ArmTemplate_7_20_2021_21_53_14.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "magdatafactory-dev-mutaz"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/copyOpenDataset')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Diabetes",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "~boos/var.select/diabetes.tab.txt"
							},
							{
								"name": "Destination",
								"value": "dest/ds1/@{'diabetest.csv'}"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AGE",
											"type": "String"
										},
										"sink": {
											"name": "AGE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SEX",
											"type": "String"
										},
										"sink": {
											"name": "SEX",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BMI",
											"type": "String"
										},
										"sink": {
											"name": "BMI",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BP",
											"type": "String"
										},
										"sink": {
											"name": "BP",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "S1",
											"type": "String"
										},
										"sink": {
											"name": "S1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "S2",
											"type": "String"
										},
										"sink": {
											"name": "S2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "S3",
											"type": "String"
										},
										"sink": {
											"name": "S3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "S4",
											"type": "String"
										},
										"sink": {
											"name": "S4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "S5",
											"type": "String"
										},
										"sink": {
											"name": "S5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "S6",
											"type": "String"
										},
										"sink": {
											"name": "S6",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Y",
											"type": "String"
										},
										"sink": {
											"name": "Y",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "diabetes",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "csv_dataset_copy1",
								"type": "DatasetReference",
								"parameters": {
									"filename": "diabetest.csv"
								}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/diabetes')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storage_with_key_parametrised",
					"type": "LinkedServiceReference",
					"parameters": {
						"secretname": "storagekey"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "second.csv",
						"folderPath": "ds1",
						"fileSystem": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/storage_with_key_parametrised')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/combined_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storagegen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "ds1",
						"fileSystem": "dest"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "value",
						"type": "String"
					},
					{
						"name": "newfilepath",
						"type": "String"
					},
					{
						"name": "pipelinename",
						"type": "String"
					},
					{
						"name": "runid",
						"type": "String"
					},
					{
						"name": "customcolumn",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/diabetes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "diabetes_http_dataset",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "~boos/var.select/diabetes.tab.txt"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "AGE\tSEX\tBMI\tBP\tS1\tS2\tS3\tS4\tS5\tS6\tY",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/diabetes_http_dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/diabetes_http_dataset')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "https://www4.stat.ncsu.edu",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/storage_with_key_parametrised')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"secretname": {
						"type": "string",
						"defaultValue": "storageket"
					},
					"s1": {
						"type": "string",
						"defaultValue": "storage"
					},
					"s2": {
						"type": "string",
						"defaultValue": "key1"
					},
					"storage": {
						"type": "string",
						"defaultValue": "magdatafactorystordev"
					}
				},
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://magdatafactorystordev.dfs.core.windows.net/",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "@{replace(linkedService().storage,'dev',linkedService().s2)}",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/masterpipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute powerbi",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "powerbi",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Execute opendataset",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute powerbi",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Execute demo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "copyOpenDataset",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Execute demo",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "demo_pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Execute error",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute powerbi",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Execute demo",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Execute opendataset",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "error email",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"errordetails": {
									"value": "@activity('Execute demo').output",
									"type": "Expression"
								}
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/pipelines/copyOpenDataset')]",
				"[concat(variables('factoryId'), '/pipelines/error email')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/error email')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "call web",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://www.bing.com/search?q=' ,pipeline().parameters.errordetails)",
								"type": "Expression"
							},
							"method": "GET"
						}
					}
				],
				"parameters": {
					"errordetails": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		}
	]
}